body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0 0 0.25em 0;
  color: #666;
}

h2 {
  font-size: 2em;
  margin: 0 0 1em 0;
  color: #ccc;
}

h3
{
  font-size: 1.2em;
  margin: 0.25em 0;
  color: #444;
}

h4
{
  font-size: 1em;
  margin: 0;
  color: #666;
  font-weight: bold;
}

p {
  font-size: 1em;
}

section {
  padding: 2em 0;
}